@import './variables.css';
@import './animations.css';
@import './responsive.css';

/* COMPONENTS */

@import './components/navbar.css';
@import './components/footer.css';
@import './components/hero.css';
@import './components/buttons.css';
@import './components/product-card.css';

/* PAGES */

@import './pages/home.css';
@import './pages/products.css';
@import './pages/cart.css';
@import './pages/auth.css';
@import './pages/dashboard.css';
@import './pages/about.css';
@import './pages/contact.css';
@import './pages/favorites.css';

/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#f8fafc;
  color:#0f172a;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  border:none;
  outline:none;
  cursor:pointer;
}

img{
  width:100%;
  display:block;
}

ul{
  list-style:none;
}

input,
textarea,
select{
  font-family:inherit;
}

.container{
  width:90%;
  max-width:1400px;
  margin:auto;
}